@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Questrial&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Yesteryear&display=swap');

.lato-bold {
  font-family: "lato",serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/sources/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 80%;
  height: 100px;
  top: 0;
  margin-top: 30px;
  position: relative;
  display: flex;justify-content: space-between;
  padding: 0 50px;
  z-index: 3;
  position: fixed;
}

.logo {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo span {
  color: #000;
  font-family: "Yesteryear", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .links .link {
  font-size: 1.9rem;
  cursor: pointer;
  transition: color .2s ease-in-out;
  text-transform: capitalize;
}

.navbar .links .link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.rombo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 80%;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}

.rombo-exterior {
  z-index: 2;
}

.rombo-exterior, .rombo-interior {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.rombo-interior {
  width: 89%;
  height: 89%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rombo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 4em;
  text-align: center;
  margin: 0;
  line-height: 1.1;
  text-transform: capitalize;
}

.info {
  position: absolute;
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  bottom: 0;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-style: normal;
  color: #000;
}

.align p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  margin: 5px;
}

i {
  font-size: 37px;
}

.align span {
  text-transform: capitalize;
}

.line {
  border: 2px solid #000;
  height: 40%;
  margin: 0;
}

button {
  width: auto;
  height: 50px;
  padding: 10px 20px;
  background: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
  border: none;
  font-size: 29px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #ffffff80;
  color: #048fbb;
  border: 1px solid #048fbb;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  background: #fff;
}

.row {
  width: 100%;
  margin-top: 150px;
  display: flex;
}

.column-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  flex-direction: column;
  gap: 20px;
}

.column-left::before{
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);
  background-image: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
}

.column-left img {
  width: 90%;
  height: 85%;
  object-fit: cover;
  display: block;
  z-index: 2;
}

.column-right {
  display: flex;
  width: 49%;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}

.column-right h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: bold;
}

.column-right p {
  margin: 0;
  font-size: 1.9rem;
}

.column-right .buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.column-right .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  background-image: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  text-transform: capitalize;
}

.cta {
  width: 100%;
  display: flex;
  margin: 60px 0;
}

.cta .btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #048fbb;
  background: transparent;
  padding: 3px;
  color: #048fbb;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 20px;
  transition: .3s ease all;
}

.cta .banner {
  display: inline-block;
  width: 100%;
  background-image: url(/sources/house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #048fbb;
  text-decoration: none;
  text-transform: uppercase;
}

.properties {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.properties .card {
  width: 27%;
  height: 800px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
}

.card-header {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-header .code-property {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #048fbb;
  z-index: 1;
  font-size: 1.2rem;
  background: #fff;
  padding: 6px;
}

.card-body {
  width: 90%;
  height: 300px;
  padding: 0 30px;
  font-family: "Lato";
}

.card-body .card-title {
  margin: 0;
  font-size: 1.8rem;
}

.card-body .content {
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-footer {
  width: 100%;
  display: flex;
}

.card-footer ul {
  display: flex;
  flex-direction: row;
  color: #1a1a1a;
  list-style: none;
  font-size: 1.1rem;
  font-family: "Lato";
  gap: 30px;
}

.card-footer ul .fas {
  color: #2f2e2e;
}

.call-to-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/sources/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  margin-top: 150px;
}

.container-cta-clients {
  width: 80%;
}

.row-cta-clients {
  width: 100%;
  display: flex;
  background: #ffffff80;
}

.col-right-cta-clients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 49%;
  gap: 20px;
  line-height: 1.5;
}

.col-right-cta-clients h2 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.col-right-cta-clients p {
  font-size: 1.5rem;
  margin: 0;
}

.col-right-cta-clients ul {
  list-style: none;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.8;
}

.col-right-cta-clients ul li::before {
  content: "🔷";
  margin-right: 5px;
}

.col-right-cta-clients .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col-right-cta-clients .buttons .button {
  width: 40%;
  height: 50px;
  background-image: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-properties{
  margin-top: 150px;
  width: 80%;
}

.articles-section {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-articles {
  width: 80%;
}

.banner-articles {
  background: #048fbb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  margin: 30px 0;
}

.banner-articles .banner {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.content-articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.column-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: left;
  width: 60%;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 40px 30px;
  cursor: pointer;
}

.column-article::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);
  background-image: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
}

.column-article img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.column-article img:hover {
  transform: scale(1.01);
}

.article-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  z-index: 2;
  margin: 0;
}

.article-text {
  font-size: 1.5rem;
  z-index: 2;
  margin: 0;
}

.column-articles {
  width: 40%;
}

.card-article {
  width: 100%;
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
}

.card-article .title {
  font-size: 1.5rem;
}

.card-article .date-article {
  font-size: 1.2rem;
}

.column-articles .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}


.column-articles .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  background-image: linear-gradient(to right, #048fbb 0%, #2ca2d5  51%, #9dddf8  100%);
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out;
  margin-top: 10px;
}

.column-articles .buttons .button:hover {
  background: #fff;
  color: #048fbb;
  border: 2px solid #048fbb;
  transform: scale(1.1);
}

footer {
  width: 100%;
  padding: 150px 20px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/sources/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border: 30px solid rgba(255, 255, 255, 0.400);
  background: rgba(255, 255, 255, 0.400);
  backdrop-filter: blur(6px);
  z-index: 1;
}

footer .container {
  background: none;
  padding: 30px;
  z-index: 2;
}

.logo-phones {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-phones .logo-footer {
  font-size: 4rem;
}

.logo-phones .logo-footer:hover {
  color: #048fbb;
}

.phones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-outline {
  width: 180px;
  height: 50px;
  padding: 6px 8px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
}

.btn-outline:hover {
  border: 2px solid #048fbb;
  color: #048fbb;
}

.schedule-notices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.schedule {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.schedule h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.schedule ul li {
  list-style: none;
  font-size: 1.3rem;
}

.notices {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  cursor: pointer;
}

.notices h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.notices p {
  width: 90%;
  font-size: 1.3rem;
}

.btn-notice {
  width: 25%;
}

.btn-outline-notice {
  width: 100%;
}

.policies-rrss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.policies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.policies .policy {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  cursor: pointer;
}

.policy:hover {
  color: #048fbb;
}

.rrss {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.rrss .social {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  cursor: pointer;
}

.rrss .social:hover {
  color: #048fbb;
}

.line-footer {
  border: 2px solid #000;
}

.all-rights-reserved {
  margin-bottom: 50px;
}

.all-rights-reserved {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: left;
}
